<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row-fluid">
  <div class="span6">
	<div class="hero-unit">
    <h2><b>Welcome to BankTracker!</b></h2>

    
      <p>1. Find your bank: <%= text_field :company, :name %> </p>
	  <p>2. Track your calls and experience as a customer.</p>
	  <p>3. Share your experience, get tips from others.</p>
    
     
	   <%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %>
  	 </div>
    
  </div>

  <div class= "span6">
	<p>Example </p>
  </div>
  </div>	

  
<% end %>