<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @issue.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @issue.company_id %>
</p>

<p>
  <b>Story:</b>
  <%= @issue.story %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
