<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @case.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @case.company_id %>
</p>

<p>
  <b>Story:</b>
  <%= @case.story %>
</p>


<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
