<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <% unless (@user.issues.first.nil? or @user.issues.first.company.nil?) %>
      <h3><b>Issue #: <%= @user.issues.first.id %></b> <%= link_to("edit", edit_issue_path(@user.issues.first)) %></h3>
	  </br>
      <section>
        <b><%= @user.issues.first.company.name %></b>
      </section>
      <section>
        <p> <%= @user.issues.first.story.html_safe %> </p>
      </section>
    <% end %>
  </aside>

  <div class="span8">
    <%- if @user.issues.empty? || @user.issues.first.company.blank? -%>
      <% if current_user?(@user) %>
        <section>
          <%- @issue = @user.issues.build -%>
          <%= render partial: 'issues/form', locals: { :form_class => "form-vertical" } -%>
        </section>
      <% end %>
    <%- end -%>

    <%= render 'follow_form' if signed_in? %>
     <% if current_user?(@user) and (@user.issues.count > 0)  %>
      <div class="postform">
        <%= render 'shared/micropost_form' %>
      </div>
     <% end %>

    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
