<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 
 <% unless @user.issues.first.nil?%> 

  <% if @user.issues.first.company.nil? %>
	  <div class="field">
	    <%= collection_select(:micropost, :company_id, Company.all, :id, :name, :prompt => true) %>
	  </div>
  <% else %>
      <div class= "companyname"> 
		<b> 
	    <%= @user.issues.first.company.name 	%>
	    </b>
	  <div>
		<div class= "companynumber">
		  <%= @user.issues.first.company.phone 	%>
		</div>
		<div class = "mystory"><p> 
			<b>Issue #: <%= @user.issues.first.id %></b> <%= link_to("details", @user.issues.first) %> 
		</div>
	

		<%= f.hidden_field(:company_id, :value => @user.issues.first.company.id) %>
	   
		
		  <div class="field">
		    <%= f.text_area :content, placeholder: "Update your " + @user.issues.first.company.name + " issue..." %>
		  </div>
		 
		<div class = "minutes"><p> 
			<%= f.number_field(:minutes, placeholder: "Minutes spent",  :min =>0) %> 
		</div>
		
		
		
  <% end %>	
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>

 <% else %>
   <%= link_to("Add a bank", @user) %>  
 <% end %>
 
<% end %>