<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>
<p>
  <b>Twitter:</b>
  <%= @company.twitter_handler %>
</p>
<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Program:</b>
  <%= @company.program %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
